.page-header {
  font-size: 1.8em;
  max-width: 100%;
  margin: 0;
}

.page-content {
  height: 100%;
  
  max-width: 100%;
  .dx-card {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    background-color: var(--secondary-background);
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  }
}
